# Virtual Environment
alamanajo_env/

# Database
alamanajo_repair.db
db.sqlite3

# Django static files
staticfiles/
media/

# Python cache
__pycache__/
*.pyc

# OS and editor files
.DS_Store
.idea/



create_migration_user_field.p
create_migration.py
create_migration.py
